.fmbl-menu-cover {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 10px;
    text-align: center;    
    z-index: 9999;
}
.fmbl-menu-cover.pos-left {
    left: 10px;
    right: auto;
}

.fmbl-menu-cover.pos-right {
    left: auto;
    right: 10px;
}

.floating-menu-link {
    display: none;
    margin: 0;
}
.floating-menu-link li {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px auto;
    list-style: none;
    font-size: 25px;
    background-color: rgb(33, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s;
   
}
.floating-menu-link i {
    color: #f1f1f1;
}

.floating-menu {
    background-color: #000;
    color: #dfdfdf;  
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .25s;
        transition: all .25s;
}

.floating-menu:hover {
    opacity: 0.85;
}

.floating-menu-cover i {
    display: block;
}