.form-cover {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-wrap: wrap;
}
.form-cover table {
    text-align: left;
}
.form-cover input:focus { 
    border: 1px solid rgb(226, 226, 226);
}
.fmbl-heading {
    width: 100%;
}
.fmbl-option td:nth-child(2) {
    width: 50%;
}
.fmbl-option td:nth-child(1), .fmbl-table2 td:nth-child(1) {
    font-weight: bold;
}
.fmbl-option td, .fmbl-table2 td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.fmbl-option i, .fmbl-table2 i{
    padding: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    border: 1px solid #b1b1b1;
    border-radius: 50%;
}
.fmbl-option tr, .fmbl-table2 tr {
    line-height: 1.5;
}
.fmbl-option {
    width: 49%;
}
.fmbl-table2 {
    width: 48%;
    margin-left: 1%;
    border-left: 1px solid #d8d8d8;
    padding-left: 1%;
}
.fmbl-table2 i{
    display: inline-flex;    
    vertical-align: top;
}
.fmbl-table2 select, .fmbl-table2 input[type="number"] {
    margin-right: 10px;
}
.fmbl-option input, .fmbl-option select {
    height: 38px;
}
.fmbl-table2 input[type='select'], .fmbl-table2 input[type='number'], .fmbl-table2 select {
    height: 38px;
}
.fmbl-table2 input[type=radio] {
    height: 16px;
}
.fmbl_inputsize {
    width: 100px;
}
table.fmbl-table2 tr td:last-child {
    width: 70%;
}
table.fmbl-table2 tr td:first-child {
    width: 30%;
}

.span-desc{
    display: block;
    visibility: hidden;
    color: rgb(214, 51, 51);
    font-style: italic;
    font-size: 12px;
}
.line_tr
{
    height: 1px;
}

.line_div {
    height: 1px;
    width: 100%;
    background-color: #888181;
    margin-bottom: 25px;
}
.fmbl-field-url td {
    padding-right: 10px;
}
.fmbl-field-url input {
    width: 100%;
}
.fmbl-field-url select {
    width: 150px;
}
.fmbl-table2 select {
    width: 110px;
}
.fmbl-col-pick  {
    position: relative;
}
.fmbl-col-pick .wp-picker-holder {
    position: absolute;
    z-index: 1;
}
.fmbl-label-text {
    padding-right: 5px;
}
.fmbl-picker-fix {
    display: inline-flex;
}

input[type="radio"] {
    margin-top: 0px;
}

input[type="radio"] + label {
    margin-right: 10px;
}
.fmbl-menu-title h3 {
    margin-bottom: 0;
}
form.form-cover input[type="text"], select, input[type="number"] {
    border-radius: 3px;
}